.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer .logo {
    margin: 0 auto;
}

.footer_buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.footer_buttons button,
.back_to_top {
    width: 90%;
    max-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
}

.footer_buttons button:hover,
.back_to_top:hover {
      background-color: #555;
}

.footer img {
    width: 30px;
    margin: 0 10px;
}

@media (min-width: 700px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 40px 20px 15px;
        height: 100px;
    }

    .footer_buttons {
        flex-direction: row;
        gap: 20px;
        width: auto;
    }

    .footer_buttons button {
        background-color: black;
    }

    .footer_buttons button:hover {
        background-color: #444;
    }

    .footer_buttons button,
    .back_to_top {
        width: auto;
        max-width: none;
    }

    .socials {
        margin-left: auto;
    }
}

@media (min-width: 950px) {
    .footer {
        padding: 20px 40px;
        height: 100px;
    }

    .footer_buttons {
        gap: 70px;
    }
}