@import "base.css";
@import "footer.css";
@import "global.css";
@import "header.css";
@import "variables.css";
@import "movies.css";

#clearStorage {
    background-color: #ff4444;
    color: white; 
    padding: 10px; 
    margin: 10px;
    border-radius: 5px;
}

.trendingMoviesDesc {
    width: 60%;
}