.featuredMovie {
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
}

/* eventually want to add + to ✓ animation upon adding a
movie. should check to see if movie ID is in localstorage 
so it is accurate on future visits */

.watchlistButton, .buttons button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    transition: background-color 0.3s, padding 0.3s;
}

.watchlistButton:hover, .buttons button:hover {
    background-color: rgb(64, 64, 64);
    padding: 7px 12px;
}

.movieContainer {
    margin: 10px;
    border-radius: 10px;
    transition: padding 0.3s;
}

.movieContainer:hover {
    padding: 20px;
}

.moviesContainer {
    max-width: 1200px;
}

.movieDetailsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movieDetailsCard img {
    width: 50%;
}

.movieDetailsInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.additionalDetails {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: -10px;
}

.buttons {
    margin: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.movieDesc {
    padding: 15px;
}

.plusIcon {
    font-size: 1.2em;
}

@media (min-width: 700px) {
    .movieDetailsCard {
        display: flex;
        flex-direction: row;
        padding: 20px;
    }

    .movieDetailsInfo {
        align-items: center;
    }

    .movieDetailsCard img {
        max-width: 35%;
    }

    .buttons {
        flex-direction: row;
    }
}

@media (min-width: 900px) {

    .movieDetailsCard img {
        max-width: 25%;
    }

    .movieDesc {
        padding: 10px 60px 10px 60px;
    }
}

