.movieDetailsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movieDetailsCard img {
    width: 50%;
}

@media (min-width: 768px) {
    .movieDetailsCard {
        display: flex;
        flex-direction: row;
    }
}