main {
    margin: 20px 0;
}

.featuredMovie {
    display: flex;
    max-width: 1087px;
    justify-self: center;
    gap: 15px;
    margin: 15px;
}

.featuredMovieDesc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.featuredMovieImgContainer img {
    width: 200px;
}

.moviesToWatch {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#genreDropdown {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* #genreDropdown option {
    background-color: gray;
} */

.moviesContainer {
    display: flex;
    justify-content: center;
    max-width: 1087px;
    flex-wrap: wrap;
}

.movieContainer {
    width: 250px;
    border: 1px solid black;
    padding: 10px;
}

.movieLink {
    text-decoration: none;
    color: black;
}

.movieContainer img {
    width: 250px;
}